.site-footer {
  background: #1f2937;
  color: #e5e7eb;
  margin-top: 80px;
  font-size: 14px;
}

.footer-container {
  max-width: 1100px;
  margin: auto;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.footer-box {
  width: 50%;
}

.footer-box h3 {
  color: #38bdf8;
  margin-bottom: 20px;
  border-bottom: 1px solid #374151;
  padding-bottom: 8px;
}

.footer-box p {
  margin: 10px 0;
}

.footer-box ul {
  list-style: none;
  padding: 0;
}

.footer-box ul li {
  margin-bottom: 10px;
}

.footer-box ul li a {
  color: #e5e7eb;
  text-decoration: none;
}

.footer-box ul li a:hover {
  color: #38bdf8;
}

.footer-bottom {
  background: #111827;
  text-align: center;
  padding: 15px;
  font-size: 13px;
}



.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: 60px auto;
  padding: 40px;
  background: #f9fafb;
  border-radius: 20px;
  gap: 40px;
}

.hero-content {
  width: 60%;
}

.hero h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.hero h3 {
  color: #374151;
  margin-bottom: 20px;
}

.hero-desc {
  color: #4b5563;
  margin-bottom: 25px;
  line-height: 1.9;
}

.hero-list {
  padding-right: 20px;
  margin-bottom: 30px;
}

.hero-list li {
  margin-bottom: 8px;
}

.hero-stats {
  display: flex;
  gap: 30px;
}

.hero-stats div {
  text-align: center;
}

.hero-stats strong {
  font-size: 22px;
  color: #1f2937;
  display: block;
}

.hero-stats span {
  font-size: 13px;
  color: #6b7280;
}

.hero-image {
  width: 40%;
  text-align: center;
}

.hero-image img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  border: 6px solid #e5e7eb;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column-reverse;
    text-align: center;
  }

  .hero-content,
  .hero-image {
    width: 100%;
  }

  .hero-list {
    padding: 0;
    list-style: none;
  }
}
